* {
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    font-weight: 500;
    cursor: url('../assets/cursor.png'), auto;
    box-sizing: border-box;
 }
 
 
 html, body {
    height: 100%;
 }
 
 
 html {
    background-color: rgb(255, 255, 255);
 }
 
 body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
    grid-template-areas: 
        "header"
        "main-view"
        "main"
 }
 
 @media only screen and (min-width: 768px) {
    body {
        display: grid;
        grid-template-columns: 2.25fr 0.75fr;
        grid-template-rows: auto 1fr;
        grid-template-areas: 
            "header header"
            "main sidebar"
     }

     .sidebar {
        grid-area: sidebar;
        overflow-y: scroll;
        padding: 1em;
     }

     .logo-about{
        flex: 3;
        display: flex;
        flex-direction: row;
        align-items: center;
     }
     
 }
 
header {
    grid-area: header;
    padding: 1em;
    display: flex;
 }
 
 
 a{
    text-decoration: none;
 }
 
 
 .nav-links {
    margin-right: 2vh;
    color: black;
    text-decoration: underline;
    text-decoration-thickness: 8%;
    cursor: pointer;
 }

 .main-view {
    grid-area: main-view;
    padding: 1em;
 }

 
 
 .track-container{
    flex: 1;
 }
 
 
 #mission{
    margin-left: 2vh;
    text-justify: distribute-all-lines;
    text-align: justify;
 }
 
 
 #daw-meaning{
    text-align:center;
    font-size: 3vh;
    margin-top: 1vh;
}
