* {
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    font-weight: 500;
    cursor: url('../assets/cursor.png'), auto;
}

html, body {
    height: 100%;
}

html {
    background-color: rgb(255, 255, 255);
}

body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.45fr;
    padding: 2vh;
    justify-content: center;
    text-align: center;
}

.navbar {
    display: flex;
}

a{
    text-decoration: none;
    color: black;
}

.nav-links {
    margin-right: 2vh;
    color: black;
    text-decoration: underline;
    text-decoration-thickness: 8%;
    cursor: pointer;
}

.main {
    grid-row: 2;
    grid-column: 2;
    font-weight: 1000;
    font-size: larger;
    text-shadow: 0 0 3px #bfd630;
}

.image {
    grid-row: 2;
    grid-column: 1;
}

.image #logo1 {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 45%;
}

.image #logo2 {
    position: absolute;
    top: 60%;
    left: 100%;
    transform: translate(-50%, -50%);
    opacity: 45%;
}

h1 {
    margin-bottom: 2vh;
    color: #bfd630;
}